<head>
    <title>Dashboard</title>
    <style>
        img {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>Activity report</h1>
    <div class="row">
        <img src="{{ lineplot }}" alt="Lineplot" style="width:60%; display:block;">
    </div>
    <div class="row" style="text-align:center">
        <img class="img2" src="{{ histogram }}" alt="Histogram" style="width:25%; display:inline-block">
        <img class="img2" src="{{ piechart }}" alt="Piechart" style="width:25%; display:inline-block">
    </div>
</body>