<head>
    <title>Chaski - Activity report</title>
    <style>
        img {
          margin-left: auto;
          margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>Activity report</h1>
    <h2>Date and time:</h2>
    <div class="row">
        <img src="{{ lineplot }}" alt="Lineplot" style="width:65%; display:block;">
    </div>
    <div class="row" style="text-align:center">
        <img class="img2" src="{{ histogram }}" alt="Histogram" style="width:20%; display:inline-block">
        <img class="img2" src="{{ piechart }}" alt="Piechart" style="width:30%; display:inline-block">
    </div>
    <h3 style="text-align:center">BPM -- Min: xx - Max: xx - Avg: xx</h3>
</body>
